# zip folders
zips/
trainedModelsZips/
tempData_Austria_Salzburg_Villach_jsons.zip
temporalSwitchDataset.zip

# railsem19 labels
jpgs/
jsons/
uint8/
darknets/
label_txts/

# yolov9
yolov9/
weights/

# yolov7
yolov7/
weights/

# all venvs
venv*

# all splits
beforeSplit*
rs19_split*
objectDetection/yoloV7/yolov7

# images
onlySwitchesLeftRightImages/
tempData_Austria_Salzburg_Villach/

#videos
videos/
Austria_Salzburg_Villach.mp4

#label folders
tempData_Austria_Salzburg_Villach_jsons/
tempData_Austria_Salzburg_Villach_jsons_datareduction/
annotations/
tempData_CVAT/
tempData_CVAT.zip
temporalSwitchDataset_autolabeled_CVAT-structure/
temporalSwitchDataset_DatumaroFormat/